#navbar
{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 20px;
}

#menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    justify-content: space-evenly;
    padding: 10px 20px;
    text-align: center;
}
#img1
{
    width: 100%;
    height: 300px;
}